.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 375px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: var(--green-50);
	color: var(--text-primary);

	&::before {
		content: "";
		z-index: 0;
		position: absolute;
		left: -44vw;
		bottom: 0;
		min-width: 1254px;
		width: 1254px;
		min-height: 402px;
		height: 402px;
		background: url("../img/footer-pattern.svg") no-repeat center / contain;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&__column,
	&__row {
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		min-width: 100%;
	}
	&__main {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	&__title,
	&__caption {
		color: var(--text-additional);
		font-size: 16px;
		line-height: 24px;
	}
	&__caption {
		color: var(--green-700);

		.icon {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
			fill: var(--green-700);
			stroke: var(--green-700);
		}
	}
	&__pin {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__soc {
		display: flex;
		flex-direction: column;

		&-title {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
		&-links {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}
	&__rights {
		gap: 24px;
	}
}
@media (min-width: 1200px) {
	.footer {
		border-top-left-radius: 36px;
		border-top-right-radius: 36px;

		&::before {
			left: unset;
			right: -14vw;
		}
		&__content {
			gap: 80px;
			padding-top: 80px;
			padding-bottom: 80px;
		}
		&__column {
			gap: 60px;
		}
		&__row {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 12px;
		}
		&__item {
			min-width: 326px;

			&:nth-child(2) {
				flex: 1;
			}
		}
		&__title {
			color: var(--text-additional);
			font-size: 18px;
			line-height: 30px;
		}
		&__rights {
			gap: 40px;

			.footer__item {
				min-width: unset;

				&:nth-child(2) {
					flex: unset;
				}
			}
		}
	}
}