.header {
	z-index: 1000;
	min-width: 375px;
	width: 100%;
	margin-bottom: 32px;
	background-color: var(--white-color);
	transition: box-shadow 0.2s ease-out;

	&-main {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		gap: 20px;
	}

	&-logo {
		.icon {
			min-width: 84px;
			width: 84px;
			min-height: 36px;
			height: 36px;
			fill: var(--green-700);
			stroke: var(--green-700);
		}
	}

	&-menu {
		display: none;
		align-items: center;

		&__item {
			display: inline-flex;
			align-items: center;
		}
		&__link {
			display: flex;
			align-items: center;
			gap: 4px;
			min-height: 48px;
			height: 48px;
			padding-right: 16px;
			padding-left: 16px;
			font-weight: 600;
			font-size: 16px;
			line-height: 26px;
			background-color: var(--white-color);
			white-space: nowrap;
			transition: color 0.2s ease-out;

			&:hover {
				color: var(--grey-500);
			}
		}
	}

	&-contacts {
		display: flex;
		align-items: center;
		gap: 12px;

		&__tel {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&-num,
			&-caption {
				display: inline-flex;
				align-items: center;
				white-space: nowrap;
			}
			&-num {
				color: var(--text-primary);
				font-weight: 600;
				transition: color 0.2s ease-out;

				&:hover {
					color: var(--grey-500);
				}
			}
			&-caption {
				color: var(--text-additional);
			}
		}
		&__btns {
			display: flex;
			align-items: center;
			gap: 12px;
		}
	}

	&-social {
		.social {
			&__list {
				gap: 8px;

				li {
					line-height: 1;
				}
				a {
					.image,
					.icon {
						min-width: 24px;
						width: 24px;
						min-height: 24px;
						height: 24px;
					}
					.icon {
						fill: #F5F5F5;
						stroke: #F5F5F5;
					}
				}
			}
		}
	}
}

.mobile-menu {
	z-index: 2000;
	position: fixed;
	flex-direction: column;
	top: 0;
	right: -375px;
	display: flex;
	min-width: 375px;
	width: 375px;
	height: 100vh;
	padding-top: 16px;
	padding-bottom: 52px;
	overflow: auto;
	background-color: var(--white-color);
	user-select: auto;
	transition: var(--transition);

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		right: 0;
	}

	&-header {
		display: flex;
		min-height: 48px;
		height: 48px;
		margin-bottom: 48px;

		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-bottom: 48px;

		&__item {
			display: flex;
		}
		&__link {
			display: flex;
			align-items: center;
			min-width: 100%;
			width: 100%;
			min-height: 56px;
			height: 56px;
			padding-right: var(--container-offset);
			padding-left: var(--container-offset);
			background-color: var(--white-color);
			font-weight: 600;
			font-size: 20px;
			line-height: 26px;
			transition: color 0.2s ease-out;

			&:hover {
				color: var(--grey-500);
			}
		}
	}

	&-footer {
		&-contacts {
			display: flex;
			flex-direction: column;
			gap: 24px;

			&__tel {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 2px;

				&-num,
				&-caption {
					display: inline-flex;
					align-items: center;
					white-space: nowrap;
				}
				&-num {
					color: var(--text-primary);
					font-weight: 600;
					font-size: 18px;
					line-height: 24px;
					transition: color 0.2s ease-out;

					&:hover {
						color: var(--grey-500);
					}
				}
				&-caption {
					color: var(--text-additional);
					font-size: 14px;
					line-height: 20px;
				}
			}
			&__btns {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		position: fixed;
		top: 12px;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1420px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-top: 16px;
		padding-bottom: 16px;
		border-radius: 12px;

		.container {
			max-width: var(--header-container-width);
			padding-right: var(--header-container-offset);
			padding-left: var(--header-container-offset);
		}

		&-logo {
			.icon {
				min-width: 112px;
				width: 112px;
				min-height: 48px;
				height: 48px;
			}
		}

		&-menu {
			display: flex;
		}

		&-contacts {
			margin-left: auto;
		}

		&.scrolled {
			box-shadow: var(--shadow-float), var(--shadow-float2);
		}
	}

	.burger {
		display: none;
	}

	.mobile-menu {
		display: none;
	}
}
@media (min-width: 1400px) {
	.header {
		&-main {
			gap: 40px;
		}

		&-contacts {
			gap: 36px;
		}
	}
}
@media (max-width: 1199px) {
	.header {
		&-contacts {
			padding-top: 1px;

			&__btns {
				display: none;
			}
		}

		&-main {
			min-height: 48px;
			height: 48px;
		}
	}

	.burger {
		margin-left: auto;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.header {
		&-menu {
			&__link {
				padding-right: 8px;
				padding-left: 8px;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}


.plug-header {
	margin-bottom: 60px;

	.header-logo {
		.icon {
			fill: var(--green-1000);
			stroke: var(--green-1000);
		}
	}
	.header-contacts__btn {
		border: 1px solid var(--green-100);
		background-color: var(--white-color);

		&:hover {
			background-color: var(--green-500);
		}
	}
}
@media (min-width: 1200px) {
	.plug-header {
		position: static;
		top: unset;
		left: unset;
		transform: translateX(0);
		margin-bottom: 56px;
	}
}
