:root {
	// base
	--font-family-base: "Inter Tight", sans-serif;
	--content-width: 1340px;
	--container-offset: 12px;
	--header-container-offset: 40px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--header-container-width: calc(var(--content-width) + (var(--header-container-offset) * 2));

	// colors
	--black-color: #000000;
	--white-color: #FFFFFF;

	--text-primary: #202020; //#141414 95%
	--text-secondary: #5b5b5b; //#141414 70%
	--text-additional: #727272; //#141414 60%
	--text-disabled: #adadad; //#141414 40%

	//brown
	--brown-50: #f5f5f4;
	--brown-100: #e1dfdc;
	--brown-200: #d3cfcb;
	--brown-300: #bfb9b3;
	--brown-400: #b2aca5;
	--brown-500: #9f978e;
	--brown-600: #918981;
	--brown-700: #716b65;
	--brown-800: #57534e;
	--brown-900: #433f3c;

	//yellow
	--yellow-50: #f6f2ee;
	--yellow-100: #e4d7c9;
	--yellow-200: #d7c3af;
	--yellow-300: #c4a88b;
	--yellow-400: #b99775;
	--yellow-500: #a77d52;
	--yellow-600: #98724b;
	--yellow-700: #77593a;
	--yellow-800: #5c452d;
	--yellow-900: #463522;

	//green
	--green-50: #f7f8f5;
	--green-100: #e5eae0;
	--green-200: #d8e0d1;
	--green-300: #c7d1bb;
	--green-400: #bcc9ae;
	--green-500: #abbb9a;
	--green-600: #9caa8c;
	--green-700: #79856d;
	--green-800: #5e6755;
	--green-900: #484f41;
	--green-1000: #243624;

	//grey
	--grey-50: #f1f1f1;
	--grey-100: #d4d4d4;
	--grey-200: #bfbfbf;
	--grey-300: #a1a1a1;
	--grey-400: #8f8f8f;
	--grey-500: #737373;
	--grey-600: #696969;
	--grey-700: #525252;
	--grey-800: #3f3f3f;
	--grey-900: #303030;
	--grey-1000: #141414;

	//orange
	--orange-50: #fbf4ee;
	--orange-100: #f2ddcc;
	--orange-200: #ecccb3;
	--orange-300: #e3b590;
	--orange-400: #dda77a;
	--orange-500: #d59159;
	--orange-600: #c28451;
	--orange-700: #97673f;
	--orange-800: #755031;
	--orange-900: #593d25;

	//wood
	--wood-50: #f5efeb;
	--wood-100: #e0ccc0;
	--wood-200: #d1b3a1;
	--wood-300: #bc9076;
	--wood-400: #af7b5c;
	--wood-500: #9b5a33;
	--wood-600: #8d522e;
	--wood-700: #6e4024;
	--wood-800: #55321c;
	--wood-900: #412615;

	//lightgreen
	--lightgreen-50: #f6f7e7;
	--lightgreen-100: #e2e6b6;
	--lightgreen-200: #d4da92;
	--lightgreen-300: #c0c961;
	--lightgreen-400: #b4be42;
	--lightgreen-500: #a1ae13;
	--lightgreen-600: #939e11;
	--lightgreen-700: #727c0d;
	--lightgreen-800: #59600a;
	--lightgreen-900: #444908;


	--shadow: 0 16px 24px -8px rgba(157, 157, 157, 0.25);
	--shadow-float: 0 1px 3px -1px rgba(20, 20, 20, 0.1);
	--shadow-float2: 0 4px 16px -4px rgba(20, 20, 20, 0.1);



	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;
}
@media (min-width: 1200px) {
	:root {
		--container-offset: 80px;
	}
}
