// базовые подключения
@use "vars";
@use "fonts";
@use "./vendors/normalize";
@use "./helpers/grid-bootstrap";
@use "./helpers/ui";
@use "../../node_modules/swiper/swiper-bundle";
@use "../../node_modules/select2/dist/css/select2";
@use "../../node_modules/@fancyapps/ui/dist/fancybox";
@use "../../node_modules/tippy.js/dist/tippy";
@use "settings";

// подключения компонентов страницы
@use "./components/header";
@use "./components/footer";

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 375px;
	overflow: hidden;
}
@media (min-width: 1200px) {
	.main {
		padding-top: 136px;
	}
}

.index {
	&-heading {
		max-width: 1030px;
	}

	&-advantages {
		position: relative;
		overflow: hidden;
		border-radius: 20px;

		&__bgimg {
			position: relative;
			z-index: 0;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background: linear-gradient(to bottom, rgba(36, 54, 36, 0) 47%, rgba(36, 54, 36, 0.68) 62%, rgba(36, 54, 36, 1) 79%);
			}
			img {
				height: auto;
			}
		}
		&__content {
			z-index: 1;
			position: absolute;
			inset: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 24px;
			padding: 32px;
		}
		&__item {
			display: flex;
			align-items: center;
			gap: 12px;

			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
				fill: var(--white-color);
				stroke: var(--white-color);
			}
			.text-content {
				color: var(--white-color);
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}

	&-module-descr {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 32px;

		&__view {
			display: flex;
			justify-content: center;

			.image {
				width: 100%;
				height: auto;
			}
		}
		&__info {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
}
@media (min-width: 992px) {
	.index {
		&-module-descr {
			&__view {
				position: relative;

				.image {
					max-width: 1200px;
					max-height: 675px;
				}

				&-caption {
					z-index: 1;
					position: absolute;
					top: -160px;
					right: 50%;
					transform: translateX(30vw);
					display: flex;
					justify-content: center;
					min-width: 210px;
					width: 210px;
					min-height: 40px;
					height: 40px;
					color: var(--text-additional);
					font-size: 14px;
					line-height: 20px;
					text-align: center;

					&::before {
						content: "";
						z-index: 1;
						position: absolute;
						top: 84px;
						left: 16px;
						min-width: 151px;
						width: 151px;
						min-height: 58px;
						height: 58px;
						transform: rotate(120deg);
						opacity: 0.16;
						background: url("../img/arrow-right-curved.png") no-repeat center / 151px 58px;
					}
				}
			}
			&__info {
				z-index: 2;
				position: absolute;
				inset: 0;
				display: block;
				user-select: none;
				pointer-events: none;

				.ac {
					padding: 16px;
					border-color: var(--white-color);
					border-radius: 16px;
					box-shadow: var(--shadow);

					&-trigger,
					&-panel {
						padding: unset;
					}
					&-trigger {
						&::before,
						&::after {
							content: none;
						}
					}
					&-content {
						padding-bottom: unset;
					}
				}
			}
			&__item {
				position: absolute;
				max-width: 393px;
				transition: var(--transition);

				&:not(.active) {
					opacity: 0;
					pointer-events: none;
					user-select: none;
				}
				&[data-module-target] {
					top: 50%;
					left: 50%;
				}
			}
			&__pointer {
				position: absolute;
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;

				&[data-module-item] {
					top: 50%;
					left: 50%;
				}
				.btn {
					gap: unset;
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
					padding: unset;
					border: 1px solid var(--grey-1000);
					border-radius: 12px;
					background-color: var(--grey-1000);
					color: transparent;

					.icon {
						fill: var(--white-color);
						stroke: var(--white-color);

						&:not(:first-child) {
							display: none;
						}
					}
					.text-content {
						display: none;
					}

					&:hover {
						border-color: var(--green-50);
						background-color: var(--green-50);

						.icon {
							fill: var(--green-1000);
							stroke: var(--green-1000);
						}
					}
				}

				&-list {
					z-index: 1;
					position: absolute;
					inset: 0;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.index {
		&-advantages {
			margin-right: unset;
			margin-left: unset;
			min-width: 100%;
			border-radius: 36px;

			&__content {
				flex-direction: row;
				gap: 36px;
				justify-content: flex-start;
				align-items: flex-end;
				padding: 48px;
			}
			&__item {
				position: relative;
				gap: 20px;

				&:not(:first-child) {
					padding-left: 36px;

					&::before {
						content: "";
						z-index: 1;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						min-width: 1px;
						width: 1px;
						background-color: rgba(255, 255, 255, 0.1);
					}
				}

				.icon {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
				}
				.text-content {
					font-size: 22px;
					line-height: 28px;
				}
			}
		}
	}
}
@media (min-width: 1500px) {
	.index {
		&-module-descr {
			&__item {
				&[data-module-target="0"] {
					transform: translate(-613px, -245px);
				}
				&[data-module-target="1"] {
					transform: translate(-591px, 9px);
				}
				&[data-module-target="2"] {
					transform: translate(290px, -301px);
				}
				&[data-module-target="3"] {
					transform: translate(-12px, 99px);
				}
				&[data-module-target="4"] {
					transform: translate(94px, -246px);
				}
			}
			&__pointer {
				&[data-module-item="0"] {
					transform: translate(-202px, -176px);
				}
				&[data-module-item="1"] {
					transform: translate(-180px, 15px);
				}
				&[data-module-item="2"] {
					transform: translate(240px, -293px);
				}
				&[data-module-item="3"] {
					transform: translate(30px, 49px);
				}
				&[data-module-item="4"] {
					transform: translate(120px, -296px);
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.index {
		&-advantages {
			margin-right: -12px;
			margin-left: -12px;
			min-width: calc(100% + 24px);

			&__bgimg {
				img {
					max-height: 700px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.index {
		&-module-descr {
			&__pointer {
				&-list {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.index {
		&-module-descr {
			&__item {
				&[data-module-target="0"] {
					transform: translate(calc(-16.5vw - 393px - 18px), calc(-15vw - 69px));
				}
				&[data-module-target="1"] {
					transform: translate(calc(-14.75vw - 393px - 18px), calc(1vw - 6px));
				}
				&[data-module-target="2"] {
					transform: translate(calc(18.5vw + 50px), calc(-24vw - 8px));;
				}
				&[data-module-target="3"] {
					transform: translate(calc(2vw - 42px), calc(3.25vw + 50px));
				}
				&[data-module-target="4"] {
					transform: translate(calc(9.5vw - 26px), calc(-24vw + 50px));
				}
			}
			&__pointer {
				&[data-module-item="0"] {
					transform: translate(-16.5vw, -15vw);
				}
				&[data-module-item="1"] {
					transform: translate(-14.75vw, 1vw);
				}
				&[data-module-item="2"] {
					transform: translate(18.5vw, -24vw);
				}
				&[data-module-item="3"] {
					transform: translate(2vw, 3.25vw);
				}
				&[data-module-item="4"] {
					transform: translate(9.5vw, -24vw);
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1499px) {
	.index {
		&-module-descr {
			&__item {
				&[data-module-target="0"] {
					transform: translate(calc(-14.5vw - 393px - 18px), calc(-13vw - 69px));
				}
				&[data-module-target="1"] {
					transform: translate(calc(-13.25vw - 393px - 18px), calc(1vw - 6px));
				}
				&[data-module-target="2"] {
					transform: translate(calc(16.5vw + 50px), calc(-21vw - 8px));
				}
				&[data-module-target="3"] {
					transform: translate(calc(2vw - 42px), calc(3.25vw + 50px));
				}
				&[data-module-target="4"] {
					transform: translate(calc(8.5vw - 26px), calc(-20vw + 50px));
				}
			}
			&__pointer {
				&[data-module-item="0"] {
					transform: translate(-14.5vw, -13vw);
				}
				&[data-module-item="1"] {
					transform: translate(-13.25vw, 1vw);
				}
				&[data-module-item="2"] {
					transform: translate(16.5vw, -21vw);
				}
				&[data-module-item="3"] {
					transform: translate(2vw, 3.25vw);
				}
				&[data-module-item="4"] {
					transform: translate(8.5vw, -20vw);
				}
			}
		}
	}
}

// content-page
.cp {
	&-heading {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px;

		&__placeholder {
			color: var(--text-additional);

			&-item {
				position: relative;
				display: inline-flex;
				font-size: 14px;
				line-height: 20px;

				&:not(:first-child) {
					padding-left: 20px;

					&::before {
						content: "";
						position: absolute;
						z-index: 1;
						top: 50%;
						left: 8px;
						transform: translateY(-50%);
						min-width: 4px;
						width: 4px;
						min-height: 4px;
						height: 4px;
						border-radius: 50%;
						background-color: var(--text-disabled);
					}
				}
			}
		}
		&__back {
			display: inline-flex;
			align-items: center;

			&-link {
				display: inline-flex;
				align-items: center;
				gap: 8px;
				color: var(--yellow-500);
				font-weight: 600;

				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
					fill: var(--yellow-500);
					stroke: var(--yellow-500);
				}
			}
		}
	}

	&-details {
		.cp-img {
			min-width: 100%;
			width: 100%;
		}
	}

	&-img {
		display: inline-flex;
		overflow: hidden;
		border-radius: 20px;

		.image {
			min-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}
@media (min-width: 992px) {
	.cp {
		&-heading {
			&__placeholder {
				&-item {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
		&-details {
			.container {
				max-width: calc(890px + (var(--container-offset) * 2));
			}
		}

		&-img {
			border-radius: 36px;
		}
	}
}

.send-request {
	display: flex;
	gap: 12px;

	&__item {
		display: flex;
		flex: 1;
	}
	&__form {
		position: relative;
		flex-direction: column;
		gap: 28px;
		overflow: hidden;
		padding: 20px 12px;
		border-radius: 20px;
		background-color: var(--green-1000);

		&::before {
			content: "";
			z-index: 0;
			position: absolute;
			left: -115vw;
			bottom: 0;
			min-width: 1024px;
			width: 1024px;
			min-height: 329px;
			height: 329px;
			background: url("../img/ecoloft-pattern.svg") no-repeat center / contain;
		}
		&-header {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&-title,
		&-subtitle {
			color: var(--white-color);
		}
		&-main {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&-input-row {
			.btn {
				min-width: 100%;
				width: 100%;
			}
		}
		&-caption {
			color: var(--grey-200);
			font-size: 11px;
			line-height: 14px;
		}
		.input-title {
			color: var(--white-color);
		}
	}
	&__view {
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border-radius: 36px;

		.image {
			min-width: 100%;
			width: 100%;
			min-height: 100%;
			height: 100%;
		}
	}
}
@media (min-width: 992px) {
	.send-request {
		&__item {
			min-width: calc((100% - 12px) / 2);
			width: calc((100% - 12px) / 2);
		}
		&__form {
			gap: 40px;
			padding: 48px 60px;
			border-radius: 36px;

			&::before {
				left: -200px;
				min-width: 1108px;
				width: 1108px;
				min-height: 356px;
				height: 356px;
			}
			&-header {
				gap: 24px;
			}
			&-main {
				gap: 20px;
			}
			&-input-row {
				max-width: 358px;
				min-width: unset;
			}
			&-caption {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}
}
@media (max-width: 991px) {
	.send-request {
		&__view {
			display: none;
		}
		&__form {
			min-width: 100%;
			margin-right: calc(var(--container-offset) * -1);
			margin-left: calc(var(--container-offset) * -1);

			&-input-row {
				.btn {
					min-height: 40px;
					height: 40px;
				}
			}
		}
	}
}

.contacts-page {
	display: flex;
	flex-direction: column;
	gap: 32px;

	&__item {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__title {
		color: var(--text-additional);
	}
}
@media (min-width: 992px) {
	.contacts-page {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 48px 6.5vw;
	}
}

.contacts-map {
	position: relative;
	min-height: 600px;
	height: 600px;
	overflow: hidden;
	border-radius: 36px;

	&::before {
		content: 'Карта загружается...';
		z-index: -1;
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-content {
		z-index: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		/*filter: grayscale(1);*/
	}
}


// Заглушка
.plug {
	&-countdown {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;

		&__counter {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
	}

	&-clock {
		display: flex;
		align-items: center;
		gap: 12px;

		&__time {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 80px;
			width: 80px;
			min-height: 80px;
			height: 80px;
			border-radius: 20px;
			background-color: #FBF4EE;
			color: var(--text-primary);
			text-align: center;
		}
		.fz-sm {
			margin-top: -4px;
			font-weight: 600;
		}
	}

	&-image {
		overflow: hidden;
		border-radius: 20px;
		height: auto;
	}
}
@media (min-width: 992px) {
	.plug {
		&-image {
			margin-right: unset;
			margin-left: unset;
			min-width: 100%;
			border-radius: 36px;
		}
	}
}
@media (min-width: 1200px) {
	.plug {
		&-main {
			padding-top: unset;
		}
	}
}
@media (max-width: 991px) {
	.plug {
		&-image {
			margin-right: -12px;
			margin-left: -12px;
			min-width: calc(100% + 24px);
		}
	}
}

// dark-theme
.dark-theme {
	background-color: var(--surface-gray2);
	color: var(--white-color);

	.swiper-pagination,
	& ~ .swiper-pagination {
		&-bullet {
			background: var(--surface-gray4);

			&-active {
				background: var(--white-color);
			}
		}
	}


	.main-banner {
		background-color: var(--surface-gray2);
		color: var(--white-color);
	}
}